@import '@/styles/utils/mixins';

.integrationsHero {
  padding-top: 14.2rem;
  background-color: var(--light-blue);
}

.heroCardsWrapper {
  padding: 1.6rem;
  border-radius: 24px;
  background: linear-gradient(105deg, #242BFF 15.02%, #1B0092 109.42%);

  @include onTablet {
    padding: 2.4rem;
  }
}

//hero cards
.heroCards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include onLaptop {
    flex-direction: row;
  }
}

.heroCard {
  padding: 1.6rem;
  border-radius: 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);

  @include onTablet {
    padding: 2.4rem;
  }
}

.heroCardIconWrapper {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
  background-color: var(--white);
  border-radius: 16px;
  margin-bottom: 2.4rem;
}
