.hero {
  padding-top: 11.2rem;
  padding-bottom: 4rem;
  background: linear-gradient(326deg, #242BFF 0%, #2624F0 16.61%, #291EE3 31.45%, #2B17D3 48.08%, #3300A1 78.09%);
}

.heroWrapper {

}

.heroMain {

}

.heroInfo {

}

.heroImageWrapper {

}

.heroStats {

}